<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Eagle.CLRv4.Core" version="1.0.8503.24499" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net481" />
  <package id="Harpy.CLRv4" version="1.0.8503.24499" targetFramework="net48" />
  <package id="SQLite.Encryption.Extension" version="1.0.118.1" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.118.0" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.SEE" version="1.0.118.1" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.SEE.NetFramework" version="1.0.118.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.118.0" targetFramework="net48" />
  <package id="System.Data.SQLite.EF6" version="1.0.118.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Linq" version="1.0.118.0" targetFramework="net48" />
  <package id="System.Data.SQLite.x86" version="1.0.118.0" targetFramework="net48" />
</packages>